*{
    background-color: darkgrey;

}
h1{
    color: rgba(255, 40, 2, 0.925);
    font-family: 'Times New Roman';
    font-size: 25px;
}
h2{
    color:darkviolet;
    font-size: 23px;
}
h3{
    color:rgb(255, 136, 0);
    font-size:90%;
}
h4{
    color: firebrick;
}